@{
    ViewData["Title"] = "Home Page";
}

<div class=" text-center " style="margin-top:15%;  ">
    <div class="w-75 btn-group" role="group" style="height:100px">
        <a asp-controller="Student" asp-action="Index" class="btn btn-primary mx-1" style="font-size:xx-large">
            <i class="fa-solid fa-user-plus"></i> Students
        </a>
        <a asp-controller="Car" asp-action="Index" class="btn btn-primary mx-1" style="font-size:xx-large">
            <i class="fa-solid fa-car"></i> Cars
        </a>
        <a asp-controller="Order" asp-action="Index" class="btn btn-primary mx-1" style="font-size:xx-large">
            <i class="fa-solid fa-car-side"></i> Book a Car
        </a>
    </div>
</div>




